/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* -------------------- Global Styles -----------------------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  font-size: 1.125em;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.75em;
}

h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.875em;
}

p {
  font-size: 1.125em;
  line-height: 1.5em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

/* --------------------Mobile Styles ---------------------- */
/* -------------- Base Header - Footer Styles------------ */
header,
footer {
  align-items: center;
  background: #202322;
  color: #E2E3ED;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

header figure {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px 0;
}

.header-divider {
  height: .5px;
  background: #444;
  width: 100%;
}

header nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

header nav ul {
  align-items: center;
  display: flex;
  flex-basis: 60%;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

footer .content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

footer .contact,
footer .social {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 50px 20px;
  width: 100%;
}

footer .social-icon {
  display: flex;
}

footer .copyright {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* ---------------- Main Content area -------------- */

.hero-area {
  background: url("../img/jake-melara-30679-unsplash.jpg") center no-repeat #2a423a;
  background-size: cover;
  color: #E2E3ED;
  display: flex;
  flex-flow: row wrap;
  min-height: 600px;
  padding: 50px 20px;
}

/* ----------------------- Form ---------------------------- */
aside {
  background-color: #527158;
  color: #E2E3ED;
  padding: 25px 20px;
}

aside h3 {
  margin: 0;
}

aside .form {
  margin-top: 30px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* -----------------Features --------------------*/

.features {
  background: url("../img/rawpixel-800820-unsplash1.jpg") center no-repeat #333;
  background-size: cover;
  color: #E2E3ED;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  width: 100%;
}

.feature-items {
  flex-direction: row-reverse;
}

.feature-item {
  padding: 25px 0;
}

.features p {
  margin: 0;
  text-align: center;
}

.reviews {
  background: #2A423A;
  color: #E2E3ED;
  padding: 50px 20px;
  width: 100%;
}

.review-content {
  display: flex;
  flex-flow: row wrap;
}

/* ------------------ About and FAQ -------------------- */
.mission,
.contact-section,
.faq {
  color: #E2E3ED;
  display: flex;
  flex-flow: row wrap;
  padding: 50px 20px;
  width: 100%;
}

.mission,
.faq {
  background: #527158;
}

.map figure {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section {
  background-color: #2a423a;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {

  header .content-wrapper {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 28px 65px;
    width: 100%;
  }

  .logo {
    width: 47%;
    justify-content: flex-start;
  }

  .header-divider {
    display: none;
  }

  header nav {
    justify-content: flex-end;
    width: 47%;
  }

  .hero-area {
    margin: 0;
    justify-content: flex-start;
    padding: 95px 65px;
    width: 100%;
  }

  .hero-area h1 {
    margin: 0;
  }

  /* Sign Up Section */
  aside {
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 45px 65px;
    width: 100%;
  }

  .signup,
  .form {
    width: 47%;
  }

  /* Features Section */
  .features {
    justify-content: space-between;
    padding: 95px 65px;
    width: 100%;
  }

  .feature-item {
    width: 47%;
  }

  /* Reviews Section */
  .reviews {
    padding: 95px 65px;
    width: 100%;
  }

  .review-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .review-image {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .review-image,
  .review-copy {
    width: 46%;
  }

  /* About Page and FAQ */
  .mission,
  .contact-section,
  .map,
  .faq {
    justify-content: space-between;
    padding: 95px 65px;
  }

  .mission p,
  .contact-section address {
    width: 47%;
    padding: 0;
    margin: 0;
  }

  .contact-section h2,
  .faq h2 {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
  }
}


@Media screen and (min-width: 1200px) {

  /* Header and Footer */
  footer .content-wrapper {
    justify-content: space-between;
  }

  footer .contact,
  footer .social {
    width: 30%;
  }

  /* Main Content */
  h1 {
    width: 60%;
  }

  /* Features */
  .feature-items {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
  }

  .feature-item {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex-basis: 33.33%
  }

  .feature-item p {
    width: 50%;
  }

  /* FAQ */
  .faq-content {
    width: 47%
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
